*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}
body{
    font-family: sans-serif;
    overflow-x: hidden;
    transition: background-color .5s;
    height: 0;
    margin-bottom: 0px;
}

/* navbar */
.navbar{
    display: flex;
    justify-content: space-around;
    /* background-color: black; */
    height: 110px;
    align-items: center;
   
}
.logo{
    display: flex;
}
.logo img{
    position: relative;
    top: 20px;
    left: 100px;
    width: 8%;
    cursor: pointer;
}
.naviga{
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: rgb(7, 7, 7);
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
    cursor: pointer;
}
.naviga a{
    display: flex;
    flex-direction: column;
  	justify-content: space-between;
    padding: 15px 42px;
    text-decoration: none;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 750;
    color: white;
    display: block;
    transition: 0.3s;
    margin-left: 50px;
}
.naviga a:nth-child(2){
    padding-top: 90px;
}
.naviga a:hover{
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;
    color: black;
}   
.naviga .closebtn{
    position: absolute;
    top: 20px;
    width: 30px;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
    cursor: pointer;
}

.menu-btn{
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    right: 100px;
}
.menu-btn input{
    position: absolute;
    top: -4px;
    left: -55px;
    width: 140px;
    height: 35px;
    opacity: 0;
    cursor: pointer;  
    z-index: 2px; 
}
.menu-btn span:nth-child(2){
    display: block;
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 5px;
    transition: all 0.5s;
}
.menu-btn span:last-child{
    display: block;
    width: 20px;
    height: 4px;
    background-color: white;
    border-radius: 5px;
    transition: all 0.5s;
}

/* animation */
 .menu-btn span:nth-child(2){
    transform-origin: 0 0;
}
.menu-btn span:last-child{
    transform-origin: 0 0;
}
.menu-btn input:checked ~ :nth-child(2):hover{
    transform: rotate(40deg) translate(0px,-2px);
}
.menu-btn input:checked ~ :last-child:after{
    width: 30px;
    transform: rotate(-38deg) translate(-2px,0px);
} 
/* end animation */

/* bckground */
    .bg{
        z-index: -1;
        background-color: black;
        height: 4500px;
        background-position: center center;
        position: relative;
        margin-top: -120px;
    }
/* end background */
 
/* HOMEPAGE */
    .beta{
        position: absolute;
        z-index: 1;
    }
    .home{
        position: relative;  
    }
    .home h3{
        z-index: -1;
        position: absolute;
        font-size: 230px;
        font-family: 'Rubik Mono One',sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        top: -4450px;
        transform: rotate(-90deg);
        left: -350px;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: rgb(189, 187, 187);
    }
    .home h4{
        position: absolute;
        top: -4650px;
        left: 300px;
        font-family: 'Roboto',sans-serif;
        font-size: 85px;
        color: white;
        text-transform: capitalize;
    }
    .home span:nth-child(3){
        display: block;
        position: absolute;
        top: -4590px;
        left: 670px;
        background-color: white;
        width: 50px;
        height: 8px;
    }
    .home span:last-child{
        display: block;
        position: absolute;
        top: -4480px;
        left: 670px;
        background-color: white;
        width: 15px;
        height: 15px;
    }
    .home-1{
        position: relative;
    }
    .home-1 img{
        z-index:-1;
        width: 45%;
        position: absolute;
        top: -4800px;
        right: 250px;
    }
    .scroll{
        position: relative;
    }
    .scroll p{
        position: absolute;
        top: -4600px;
        left: 50px;
        font-family: 'Roboto',sans-serif;
        font-size: 16px;
        font-weight: 200;
        color: white;
        transform: rotate(-90deg);
    }
    .scroll span{
        position: absolute;
        top: -4684px;
        left: 92px;
        background-color: white;
        width: 1.5px;
        height: 45px;
    }
    .social{
        position: relative;
        cursor: pointer;
    }
    .betasu{
        position: relative;
    } 
    .betasu img:first-child{
        width: 18%;
        position: absolute;
        top: -4150px;
        right: 450px;
    } 
    .betasu img:nth-child(2){
        width: 1.8%;
        position: absolute;
        top: -4050px;
        right: 469px;
    }
    .betasu span{
        background-color: white;
        width: 2px;
        height: 38px;
        position: absolute;
        top: -4050px;
        right: 453px;
    }
    .betasu p:nth-child(4){
        position: absolute;
        top: -4030px;
        right: 43px;
        width: 400px;
        font-family: 'Montserrat',sans-serif;
        color: white;
        font-size: 14px;
        font-weight: lighter;
        text-transform: capitalize;
    } 
     .betasu p:last-child{
        position: absolute;
        top: -4000px;
        right: 190px;
        width: 450px;
    }
    .projek{
        position: relative;
    }
    .projek h3:first-child{
        position: absolute;
        top: -3550px;
        left: 50px;
        font-family: 'Roboto',sans-serif;
        font-size: 60px;
        font-weight: 600;
        color: white;
    }
    .projek h3:nth-child(2){
        z-index: -1;
        position: absolute;
        top: -3000px;
        left: 320px;
        font-family: 'Rubik Mono One',sans-serif;
        letter-spacing: -1px;
        font-size: 150px;
        font-weight: 200;
        width: 2000px;
        text-transform: uppercase;
        transform: rotate(-90deg);
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: white;
    }
    .lingkar{
        position: relative;
    }
    .lingkar img{
        position: absolute;
        top: -310px;
        left: 400px;
        width: 550px;
        height: 310px;
    }
   
    .bawah{
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        top: -200px;
        color: white;
        font-family: 'Roboto',sans-serif;
    }
    .bawah h3{
        font-size: 22px;
    }
    .bawah p{
        font-size: 16px;
        margin-top: -10px;
    }
    .bawah p:nth-child(2){
        padding-top: 30px;   
    }
    .bawah p:nth-child(3){ 
        margin-top: 10px;
    }
    .bawah p:last-child{
        font-size: 16px;
        font-weight: 200;
        margin-top: 20px;
    }
   
    .bawah p:last-child{
        position:absolute;
        left: 525px;
        top: 100px;
    }
   
    footer{
        /* background-color: black;
        width: 100%;
        height: 200px; */
        position: relative;
        left: 560px;
        top: -150px;
        color: white;
        font-family: 'Roboto',sans-serif;
    }
/* END HOMEPAGE */

/* responsive */
/* ukuran desktop */
@media screen and (min-width:1200px){
  
    
}

/* ukuran hp */
@media screen and (max-width:767px){
    .navbar ul{
        display: flex;
        width: 200%;
    }
    .navbar a{
        font-size: 16px;
        position: relative;
        left: -50px;
    }
    .logo{
        display: flex;
        position: relative;
        left: -50px;
    }
    .logo img{
        width: 85%;
    }
    
}